body {
    background-color: #333333;
	margin-top: 60px;
}

canvas.invis {
    display: none;
}

img.zoomable{
    cursor: zoom-out;
}

img.out{
    cursor: zoom-in;
}

.top-bar{
	height:2px;
    background:#333333;
    margin-bottom:1px;
}

footer{
    text-align: center;
    padding:10px 0;
    font-weight:bold;
    background:#e1e1e1;
	width: 100%;
	bottom: 0px;
}

.navbar{
	margin-bottom: 1px;
}

.nav-tabs{
    background-color:#000000;
}
.nav-tabs > li > a{
    color: #ffff00;
}

.nav-tabs > li > a:hover{
    color:#746510;
}

.nav-tabs > li.active > a{
    color:#0000ff;
}
.nav-tabs > li.active > a:focus{
    color:#0000ff;
}

.tab-content{
    padding-left: 10px;
    padding-right: 10px;
    background-color:#333333;
}

.canvasSheetContainer{
	overflow: auto;
	height:850px;
    /*padding-left: 0px;
    padding-right: 0px;*/
    margin-top: 5px;
    margin-bottom: 5px;
}

.canvasSheetContainer > h2{
    color: white;
}

.canvasSheetContainer > h1{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.canvasSheetContainer > p{
    color: white;
}

.graphs {
    margin-left: 10px;
    margin-right: 10px;
}

#main_container{
    padding-left: 0px;
    padding-right: 0px;
}

#dtxgraph{
    margin-left: 10px;
}